# --- ALIASES ---
# System
alias ..='cd ..'
alias lsg='ls -G'
alias lsl='ls -alh'
alias ls='eza --icons=auto -G'
alias ll='eza --icons=auto --long'
alias la='eza --icons=auto --long --all'
alias llg='eza --icons=auto --long --git-ignore'

# Abbreviations
alias vi='nvim'
alias vim='nvim'
alias lz='lazygit'

# --- ENVIRONMENT VARS ---
# VCS
export GIT_EDITOR=nvim
export SVN_EDITOR=nvim

# XDG
export XDG_CONFIG_HOME=$HOME/.config

# Taskwarrior
export TASKRC=$XDG_CONFIG_HOME/taskwarrior/taskrc
