# --- ALIASES ---
# System
alias ..='cd ..'
alias ls='ls -G'
alias ll='ls -alh'

# Abbreviations
alias vi='nvim'
alias vim='nvim'
alias lz='lazygit'

# --- ENVIRONMENT VARS ---
# VCS
export GIT_EDITOR=nvim
export SVN_EDITOR=nvim

# XDG
export XDG_CONFIG_HOME=$HOME/.config
